@import "/src/utilities/variables";

#search {
  margin-top: 9px;
  display: flex;

  input {
    width: 177px;
    border: #9f9f9f 1px solid;
    box-shadow: inset 0 3px 3px #e9e9e9;
    padding: 8.5px 0 8.5px 8px;
    font-weight: 300;

    &:focus {
      outline: #cdcdcd solid 0.5px;
    }

    @media only screen and (max-width: $desktop) {
      width: 120px;
    }
  }

  #search-button {
    margin-left: -1px;
    min-width: 39px;
    max-width: 39px;
    background-color: #222222;
    text-align: center;
    cursor: pointer;

    .img-center-helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    img {
      vertical-align: middle;
      width: 40%;
    }
  }
}
