<!--<a-->
<!--  style="cursor: pointer;"-->
<!--  [routerLink]="[index]"-->
<!--  routerLinkActive="active"-->
<!--  class="list-group-item clearfix">-->
<!--  <div class="pull-left">-->
<!--    <h4 class="list-group-item-heading">{{ item.name }}</h4>-->
<!--    <p class="list-group-item-text">{{ item.description }}</p>-->
<!--  </div>-->
<!--  <span class="pull-right">-->
<!--        <img-->
<!--          [src]="item.primaryImagePath"-->
<!--          alt="{{ item.name }}"-->
<!--          class="img-responsive"-->
<!--          style="max-height: 50px;">-->
<!--      </span>-->
<!--</a>-->

<!--<a class="item" [routerLink]="['../' + item.id]" (mouseover)="toggleImage()" (mouseout)="toggleImage()">-->
<!--  <div class="img-wrapper">-->
<!--    <img [src]="shownImagePath" alt="{{ item.name }}">-->
<!--  </div>-->
<!--  <div class="infoWrapper">-->
<!--    <h4>{{ item.name }}</h4>-->
<!--    <p>€{{ item.price }}</p>-->
<!--  </div>-->
<!--</a>-->

<a class="item" [routerLink]="['../' + item.id]" (mouseover)="toggleImage()" (mouseout)="toggleImage()">
  <img [src]="shownImagePath" alt="{{ item.name }}">
  <div class="item-details">
    <h4 class="item-title">{{ item.name }}</h4>
    <p class="item-price">${{ item.price }}</p>
  </div>
</a>
