<div *ngIf="items.length <= 0" id="no-items-found">
  <p>No items were found..</p>
</div>
<div id="items-wrapper">
  <app-item-list-item
    *ngFor="let item of items; let i = index"
    [item]="item"></app-item-list-item>
  <app-item-list-item
    *ngFor="let item of items; let i = index"
    [item]="item"></app-item-list-item>
  <app-item-list-item
    *ngFor="let item of items; let i = index"
    [item]="item"></app-item-list-item>
  <app-item-list-item
    *ngFor="let item of items; let i = index"
    [item]="item"></app-item-list-item>
</div>

