<div id="main">
  <div id="shop-wrapper">
    <div id="shop-sidebar-wrapper">
      <app-sidebar></app-sidebar>
    </div>
    <div id="shop-content-wrapper">
      <app-item-list></app-item-list>

<!--      <div id="shop-content">-->
<!--        <div class="shop-item">-->
<!--          <img src="https://i.imgur.com/FZiDMQo.png" alt="">-->
<!--          <div class="item-details">-->
<!--            <p class="item-title">knitted sweater</p>-->
<!--            <p class="item-price">$20</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>

<!--<div class="row">-->
<!--  <div class="col-md-5">-->
<!--    <app-item-list></app-item-list>-->
<!--  </div>-->
<!--  <div class="col-md-7">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--</div>-->
