<div id="main">
  <div id="shop-wrapper">
    <div id="shop-sidebar">
      <aside class="sidebar-section">
        <p>categories</p>
        <ul>
          <li><a href="">outerwear</a></li>
          <li><a href="">tops</a></li>
          <li><a href="">pants</a></li>
          <li><a href="">accessories</a></li>
        </ul>
      </aside>
      <aside class="sidebar-section">
        <p>collections</p>
        <div id="collections">
          <button>F/W 20</button>
        </div>
      </aside>
      <aside class="sidebar-section">
        <p>search</p>
        <label id="search">
          <input type="text">
          <span id="search-icon"><span class="img-center-helper"></span><img src="../../assets/images/search.svg" alt="search icon"></span>
        </label>
      </aside>
    </div>
    <div id="shop-content-wrapper">
      <div id="shop-content">
        <div class="shop-item">
          <img src="https://i.imgur.com/FZiDMQo.png" alt="">
          <div class="item-details">
            <p class="item-title">knitted sweater</p>
            <p class="item-price">$20</p>
          </div>
        </div>
        <div class="shop-item">
          <img src="https://i.imgur.com/FZiDMQo.png" alt="">
          <div class="item-details">
            <p class="item-title">knitted sweater</p>
            <p class="item-price">$20</p>
          </div>
        </div>
        <div class="shop-item">
          <img src="https://i.imgur.com/FZiDMQo.png" alt="">
          <div class="item-details">
            <p class="item-title">knitted sweater</p>
            <p class="item-price">$20</p>
          </div>
        </div>
        <div class="shop-item">
          <img src="https://i.imgur.com/FZiDMQo.png" alt="">
          <div class="item-details">
            <p class="item-title">knitted sweater</p>
            <p class="item-price">$20</p>
          </div>
        </div>
        <div class="shop-item">
          <img src="https://i.imgur.com/FZiDMQo.png" alt="">
          <div class="item-details">
            <p class="item-title">knitted sweater</p>
            <p class="item-price">$20</p>
          </div>
        </div>
        <div class="shop-item">
          <img src="https://i.imgur.com/FZiDMQo.png" alt="">
          <div class="item-details">
            <p class="item-title">knitted sweater</p>
            <p class="item-price">$20</p>
          </div>
        </div>
        <div class="shop-item">
          <img src="https://i.imgur.com/FZiDMQo.png" alt="">
          <div class="item-details">
            <p class="item-title">knitted sweater</p>
            <p class="item-price">$20</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="row">-->
<!--  <div class="col-md-5">-->
<!--    <app-item-list></app-item-list>-->
<!--  </div>-->
<!--  <div class="col-md-7">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--</div>-->
