@import "/src/utilities/mixin/admin-box";
@import "/src/utilities/variables";
@import "/src/utilities/mixin";

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.admin-box {
  @include admin-box;

}

.users-box {
  margin-bottom: 100px;

  .left {
    width: 740px;
    min-width: 740px;

    .box-content {
      height: 319px;
      max-height: 319px;

      .box-top {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      .left-items-container {
        max-height: 372px;

        .item {
          ul {
            grid-template-columns: 1fr 1fr 1fr 1fr;
          }
        }
      }
    }
  }

  .right {
    width: 959px;
    min-width: 959px;

    .box-content {
      #user-details {
        padding-left: 78px;
        padding-top: 10px;
        height: 287px;
        position: relative;

        #top-details, #bottom-details-left, #bottom-details-right {
          display: flex;
          //flex-direction: column;

          li {
            margin-right: 20px;

            p {
              font-size: 17px;
              font-weight: 300;

              span {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
