@import "/src/utilities/mixin/admin-box";
@import "/src/utilities/variables";
@import "/src/utilities/mixin";

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.admin-box {
  @include admin-box;
}

.items-box {
  margin-bottom: 100px;

  .left {
    width: 449px;
    min-width: 449px;

    .box-content {
      position: relative;
      height: 590px;

      .box-top {
        grid-template-columns: 1fr;
      }

      .left-items-container {
        max-height: 548px;

        .item {
          ul {
            grid-template-columns: 1fr;
          }
        }

        .active {
          background-color: #111111;
          ul {
            li {
              p {
                color: white;
              }
            }
          }

          &:hover {
            background-color: #111111;
          }
        }
      }

      .fab {
        line-height: 66px;
        position: absolute;
        background-color: black;
        width: 64px;
        height: 64px;
        border-radius: 100%;
        border: none;
        outline: none;
        right: 18px;
        bottom: 24px;
        font-family: sans-serif;
        color: white;
        font-size: 55px;
      }
    }
  }

  .right {
    width: 1250px;
    min-width: 1250px;
    max-height: 643px;


    .box-content {
      max-height: 590px;
      height: 590px;

      .item-details {
        height: 100%;
        padding-left: 78px;
        padding-top: 40px;
        position: relative;

        .item-attributes {
          display: flex;

          .attributes-r1, .attributes-r2 {
            ul {
              li {
                margin-bottom: 18px;
                label {
                  font-weight: bold;
                  font-size: 17px;

                  span {
                    font-size: 14px;
                    font-weight: normal;
                  }
                }
                p {
                  font-size: 17px;
                }
                input {
                  @include input;
                }
                textarea {
                  @include input;
                  resize: none;
                  padding-top: 6px;
                  height: 137px;
                }
                input, textarea {
                  width: 490px;
                }
              }
            }
          }

          .attributes-r1 {
            margin-right: 60px;
          }
          .attributes-r2 {
            ul {
              li {
                #price {
                  width: 100px;
                }
              }
            }
          }
        }


      }
    }

  }
}
