<div class="admin-box items-box">
  <div class="left">
    <header class="box-title"><h2>items</h2></header>
    <div class="box-content">
      <ul class="box-top">
        <li><p>name</p></li>
        <li><p>collection</p></li>
      </ul>
      <ul class="left-items-container">
        <li *ngFor="let item of items;" class="item {{ item.id === selectedItem?.id ? 'active' : '' }}" (click)="showItem(item)">
          <ul>
            <li><p>{{ item.name }}</p></li>
            <li><p>{{ item.clothingCollection }}</p></li>
          </ul>
        </li>
      </ul>
      <button class="fab" (click)="createItem()">+</button>
    </div>
  </div>
  <div class="right">
    <header class="box-title"><h2>{{ !creatingItem ? 'item info' : 'create item' }}</h2></header>
    <div class="box-content" *ngIf="selectedItem; else noneSelected">
      <div class="item-details">
        <form class="item-attributes" #itemForm="ngForm">
          <div class="attributes-c1">
            <div class="attributes-r1">
              <ul>
                <li>
                  <label for="title">title</label>
                  <input type="text" id="title" name="title" class="form-control" [ngModel]="selectedItem?.name" required>
                </li>
                <li>
                  <label for="primaryImage">primary image</label>
                  <input type="text" id="primaryImage" name="primaryImage" class="form-control" [ngModel]="selectedItem?.primaryImagePath" required>
                </li>
                <li>
                  <label for="secondaryImages">secondary images <span>(comma separated)</span></label>
                  <textarea id="secondaryImages"  name="secondaryImages" class="form-control" rows="7" cols="60" [ngModel]="secondaryImages"></textarea>
                </li>
              </ul>
            </div>
            <div class="attributes-r2">
              <ul>
                <li>
                  <label for="price">price <span>(usd)</span></label>
                  <input type="number" id="price" name="price" class="form-control" [ngModel]="selectedItem?.price" required>
                </li>
                <li>
                  <label for="sizes">sizes <span>(comma separated)</span></label>
                  <input type="text" id="sizes" name="sizes" class="form-control" [ngModel]="sizes" required>
                </li>
                <li>
                  <label for="colors">colors <span>(comma separated)</span></label>
                  <input type="text" id="colors" name="colors" class="form-control" [ngModel]="colors" required>
                </li>
                <li *ngIf="!creatingItem">
                  <label>id</label>
                  <p>{{ selectedItem.id }}</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="attributes-c2">
            <label>category</label>
            <ul class="categories">
              <li *ngFor="let category of categories">
                <button (click)="selectedItem.category = category" class="{{ selectedItem.category === category ? 'selected' : '' }}">{{ category }}</button>
              </li>
            </ul>
          </div>
          <div class="attributes-c3">
            <label>collection</label>
            <ul class="categories">
              <li *ngFor="let collection of collections">
                <button (click)="selectedItem.clothingCollection = collection" class="{{ selectedItem.clothingCollection === collection ? 'selected' : '' }}">{{ collection }}</button>
              </li>
            </ul>
          </div>
          <div class="primary-buttons">
            <button class="delete" (click)="deleteItem()" *ngIf="!creatingItem">delete</button>
            <button [disabled]="!itemForm.valid || !this.selectedItem.category" (click)="saveItem(itemForm)">{{ !creatingItem ? 'update' : 'create' }}</button>
          </div>
        </form>
      </div>
    </div>
    <ng-template #noneSelected><p class="noneSelected">{{ items?.length <= 0 ? 'There are currently no admin-items' : 'Select an item to view it' }}</p></ng-template>
  </div>
</div>
