<div *ngIf="user" id="account-wrapper">
  <h1>my account</h1>
  <div id="shipping-info-container">
    <div class="box-content">
      <header>
        <h2>details</h2>
      </header>
      <form #accountInfoForm="ngForm" class="shipping-info-form" (ngSubmit)="onUpdateAccountInfo(accountInfoForm)">
        <div id="static-details">
          <div class="shipping-info-row">
            <div class="shipping-info-column">
              <p class="info-header">email</p>
              <p class="info-value">{{ user.email }}</p>
            </div>
            <div class="shipping-info-column column-right">
              <p class="info-header">role</p>
              <p class="info-value">{{ user.role | role }}</p>
            </div>
          </div>
        </div>

        <div class="shipping-info-row">
          <div class="shipping-info-column half-column">
            <label class="info-label" for="firstName">
              first name
              <input type="text" id="firstName" name="firstName" class="form-control" [(ngModel)]="user.name.firstName">
            </label>
          </div>
          <div class="shipping-info-column column-right half-column">
            <label class="info-label" for="lastName">
              last name
              <input type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="user.name.lastName">
            </label>
          </div>
        </div>

        <div class="shipping-info-row">
          <div class="shipping-info-column full-column">
            <label class="info-label" for="streetAndHouseNumber">
              street and house number
              <input type="text" id="streetAndHouseNumber" name="streetAndHouseNumber" class="form-control" [(ngModel)]="user.address.streetAndHouseNumber">
            </label>
          </div>
        </div>

        <div class="shipping-info-row">
          <div class="shipping-info-column half-column">
            <label class="info-label" for="postalCode">
              postal code
              <input type="text" id="postalCode" name="postalCode" class="form-control" [(ngModel)]="user.address.postalCode">
            </label>
          </div>
          <div class="shipping-info-column column-right half-column">
            <label class="info-label" for="city">
              city
              <input type="text" id="city" name="city" class="form-control" [(ngModel)]="user.address.city">
            </label>
          </div>
        </div>

        <div class="shipping-info-row">
          <div class="shipping-info-column full-column">
            <label class="info-label" for="country">
              country
              <input type="text" id="country" name="country" class="form-control" [(ngModel)]="user.address.country">
            </label>
          </div>
        </div>

        <div id="continue">
          <button>update</button>
        </div>
      </form>
    </div>
  </div>

  <div id="orders-container">
    <app-orders-box [orders]="orders"></app-orders-box>
  </div>
</div>
