<div id="account-wrapper">
  <h1>my account</h1>
  <div id="account-info-container">
    <div class="account-info">
      <header>
        <h2>details</h2>
      </header>
      <div class="account-info-content">
        <div id="static-details">
          <div class="account-info-row">
            <div class="account-info-column">
              <p class="info-header">email</p>
              <p class="info-value">johndoe@gmail.com</p>
            </div>
            <div class="account-info-column column-right">
              <p class="info-header">role</p>
              <p class="info-value">admin</p>
            </div>
          </div>
        </div>

        <div class="account-info-row">
          <div class="account-info-column half-column">
            <label class="info-label" for="firstName">
              first name
              <input type="text" id="firstName" >
            </label>
          </div>
          <div class="account-info-column column-right half-column">
            <label class="info-label" for="lastName">
              last name
              <input type="text" id="lastName">
            </label>
          </div>
        </div>

        <div class="account-info-row">
          <div class="account-info-column full-column">
            <label class="info-label" for="street">
              street and house number
              <input type="text" id="street" >
            </label>
          </div>
        </div>

        <div class="account-info-row">
          <div class="account-info-column half-column">
            <label class="info-label" for="postalCode">
              postal code
              <input type="text" id="postalCode" >
            </label>
          </div>
          <div class="account-info-column column-right half-column">
            <label class="info-label" for="city">
              city
              <input type="text" id="city">
            </label>
          </div>
        </div>

        <div class="account-info-row">
          <div class="account-info-column full-column">
            <label class="info-label" for="country">
              country
              <input type="text" id="country" >
            </label>
          </div>
        </div>

        <div id="submit-update">
          <button>update</button>
        </div>
      </div>
    </div>
  </div>
</div>
