@import "/src/utilities/mixin";
@import "/src/utilities/variables";

* {
  margin: 0;
  padding: 0;
}

#account-wrapper {
  padding-top: 113px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  position: relative;

  @media only screen and (min-width: $tablet) {
    @include scrollbar;
  }

  h1 {
    font-size: 50px;
    margin-bottom: 35px;
  }

  #account-info-container {
    width: 618px;
    display: flex;
    margin-bottom: 70px;

    .account-info {
      width: 100%;
      background-color: #F3F3F3;

      header {
        background-color: black;
        height: 53px;
        h2 {
          text-align: center;
          font-size: 36px;
          color: white;
          font-family: 'Anton', sans-serif;
        }
      }

      .account-info-form {
        padding: 30px 63px 42px 63px;

        #static-details {
          margin-bottom: 25px;
        }

        .account-info-row {
          display: flex;
          flex-direction: row;
          margin-bottom: 18px;

          .account-info-column {
            .info-label, .info-header {
              font-weight: bold;
              font-size: 17px;
            }

            .info-header {
              margin-bottom: 3px;
            }

            .info-label {
              input {
                @include input;
              }
            }

            .info-value {
              font-size: 17px;
            }
          }

          .full-column {
            width: 100%;

            .info-label {
              width: 100%;
            }
          }

          .half-column {
            width: 100%;

            &:first-child {
              margin-right: 9px;
            }

            .info-label {
              width: 100%;
            }
          }

          .column-right {
            margin-left: auto;
          }
        }
      }

      #submit-update {
        width: 100%;
        text-align: center;
        margin-top: 25px;

        button {
          background-color: white;
          border: none;
          color: black;
          font-family: 'Anton', sans-serif;
          font-size: 30px;
          padding: 0 40px;
        }
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    #account-info-container {
      width: 98%;
    }

    @media only screen and (max-width: $mobile) {
      #account-info-container {
        width: 98%;

        .account-info {
          .account-info-form {
            padding: 30px 35px 42px;

            #static-details {
              .account-info-row {
                display: flex;
                flex-direction: column;

                .column-right {
                  margin-top: 10px;
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
