<div id="overlay">
  <div id="login-wrapper">
    <div id="login">
      <h3>login</h3>
      <div class="login-form">
        <label for="login-email">email address *</label>
        <input class="login-input" type="text" id="login-email">
        <label for="login-password">password *</label>
        <input class="login-input" type="text" id="login-password">
        <button>log in</button>
      </div>
    </div>
    <span class="vertical-line"></span>
    <div id="register">
      <h3>register</h3>
      <div class="login-form">
        <label for="register-email">email address *</label>
        <input class="login-input" type="text" id="register-email">
        <label for="register-password">password *</label>
        <input class="login-input" type="text" id="register-password">
        <button>register</button>
      </div>
    </div>
  </div>
</div>
