<div class="shopping-cart-item">
  <div class="image-wrapper" (mouseleave)="showRemove = false">
    <div *ngIf="showRemove" class="remove-item" (click)="removeItem()">
      <p>remove</p>
    </div>
    <a (mouseenter)="showRemove = true"
       [routerLink]="['../' + item.id]">
      <img [src]="item.primaryImagePath" alt="{{ item.name }}">
    </a>
  </div>
  <div class="item-info">
    <div class="item-info-row" id="name-price">
      <a [routerLink]="['../' + item.id]" class="left">{{ item.name }}</a>
      <p class="right">${{ item.price }}</p>
    </div>
    <div class="item-info-row">
      <p class="left">{{ item.selectedSize }}</p>
      <p class="right">{{ item.selectedColor }}</p>
    </div>
    <div class="item-info-row">
      <p class="left">amount</p>
      <div class="right amount-selector">
        <button (click)="minusAmount()">-</button>
        <p>{{ item.selectedAmount }}</p>
        <button (click)="plusAmount()">+</button>
    </div>
  </div>
</div>
