<div class="shopping-cart-item">
  <a [routerLink]="['../' + item.id]">
    <img [src]="item.primaryImagePath" alt="{{ item.name }}">
  </a>
  <div class="item-info">
    <div class="item-info-row">
      <p class="left">{{ item.name }}</p>
      <p class="right">${{ item.price }}</p>
    </div>
    <div class="item-info-row">
      <p class="left">{{ item.selectedSize }}</p>
      <p class="right">{{ item.selectedColor }}</p>
    </div>
    <div class="item-info-row">
      <p class="left">amount</p>
      <p class="right">{{ item.selectedAmount }}</p>
    </div>
  </div>
</div>
