@import "/src/utilities/mixin/admin-box";
@import "/src/utilities/variables";
@import "/src/utilities/mixin";

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.admin-box {
  @include admin-box;

}

.orders-box {
  .left {
    width: 618px;
    min-width: 618px;
    max-height: 655px;

    .box-content {
      height: 655px;
      max-height: 655px;

      .box-top {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }

      .left-items-container {
        max-height: 613px;

        .item {
            ul {
              grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          }
        }

        .active {
          background-color: #111111;
          ul {
            li {
              p {
                color: white;
              }
            }
          }

          &:hover {
            background-color: #111111;
          }
        }
      }
    }
  }

  .right {
    width: 1083px;
    min-width: 1083px;
    .box-content {
      #order-items-container {
        height: 326px;
        max-height: 326px;
        background-color: #DADADA;
        overflow-y: auto;
        @include scrollbar;

        #order-items-list {
          .order-items-list-item {
            padding: 19px 0;
            background-color: white;
            margin-bottom: 7px;
            margin-top: 8px;

            &:hover {
              background-color: #fafafa;
            }

            a {
              &:hover {
                text-decoration: none;
              }

              ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                text-align: center;
                font-size: 15px;

                li {
                  p {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }

      #order-details {
        padding-left: 78px;
        padding-top: 10px;
        height: 287px;
        position: relative;

        #top-details, #bottom-details-left, #bottom-details-right {
          display: flex;
          li {
            margin-right: 20px;
            p {
              font-size: 17px;
              font-weight: 300;
              span {
                font-weight: bold;
              }
            }
          }
        }
      }
    }

  }
}
