<div class="admin-box orders-box">
  <div class="left">
    <header class="box-title"><h2>orders</h2></header>
    <div class="box-content">
      <ul class="box-top">
        <li><p>name</p></li>
        <li><p>country</p></li>
        <li><p>date</p></li>
        <li><p>status</p></li>
        <li><p>total</p></li>
      </ul>
      <ul class="left-items-container">
        <li class="item {{ order.id === selectedOrder?.id ? 'active' : '' }}" *ngFor="let order of orders;" (click)="showOrder(order)">
          <ul>
            <li><p>{{ order.name.firstName.substr(0, 1) + '. ' + order.name.lastName }}</p></li>
            <li><p>{{ order.address.country }}</p></li>
            <li><p>{{ order.date | date: 'dd/MM/yyyy' }}</p></li>
            <li><p>{{ order.status | status}}</p></li>
            <li><p>${{ order.totalPrice }}</p></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <header class="box-title"><h2>order info</h2></header>
    <div class="box-content" *ngIf="selectedOrder; else noneSelected">
      <ul class="box-top">
        <li><p>name</p></li>
        <li><p>color</p></li>
        <li><p>amount</p></li>
        <li><p>size</p></li>
        <li><p>total</p></li>
      </ul>
      <div id="order-items-container">
        <ul id="order-items-list">
          <li *ngFor="let item of selectedOrder.items" class="order-items-list-item">
            <a [routerLink]="['/' + item.id]">
              <ul>
                <li><p>{{item.name}}</p></li>
                <li><p>{{item.selectedColor}}</p></li>
                <li><p>{{item.selectedAmount}}</p></li>
                <li><p>{{item.selectedSize}}</p></li>
                <li><p>${{item.price * item.selectedAmount}}</p></li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
      <div id="order-details">
        <ul id="top-details">
          <li><p><span>id</span> {{selectedOrder.id}}</p></li>
          <li><p><span>total</span> ${{selectedOrder.totalPrice}}</p></li>
          <li><p><span>items</span> {{selectedOrder.items.length}}</p></li>
          <li><p><span>date</span> {{selectedOrder.date | date: 'dd/MM/yyyy'}}</p></li>
        </ul>
        <div id="bottom-details">
          <ul id="bottom-details-left">
            <li><p><span>street and housenumber</span> {{selectedOrder.address.streetAndHouseNumber}}</p></li>
            <li><p><span>postal code</span> {{selectedOrder.address.postalCode}}</p></li>
            <li><p><span>city</span> {{selectedOrder.address.city}}</p></li>
            <li><p><span>country</span> {{selectedOrder.address.country}}</p></li>
          </ul>
          <ul id="bottom-details-right">
            <li><p><span>first name</span> {{selectedOrder.name.firstName}}</p></li>
            <li><p><span>last name</span> {{selectedOrder.name.lastName}}</p></li>
            <li><p><span>email</span> {{selectedOrder.email}}</p></li>
          </ul>
        </div>
        <div class="primary-buttons">
          <button id="delete" (click)="deleteOrder()">delete</button>
          <button (click)="updateOrderStatus()">{{ orderStatusButtonTxt }}</button>
        </div>
      </div>
    </div>
    <ng-template #noneSelected><p class="noneSelected">{{ orders?.length <= 0 ? 'There are currently no admin-orders' : 'Select an order to view it' }}</p></ng-template>
  </div>
</div>
