@import "/src/utilities/mixin/admin-box";
@import "/src/utilities/variables";
@import "/src/utilities/mixin";

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.admin-box {
  @include admin-box;

}

.orders-box {
  .left {
    width: 618px;
    min-width: 618px;
    max-height: 655px;

    .box-content {
      height: 655px;
      max-height: 655px;

      .box-top {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }

      .left-items-container {
        max-height: 613px;
        overflow-y: auto;
        @include scrollbar;

        .item {
          padding: 19px 0;
          background-color: white;
          border-top: #ABABAB 1px solid;
          border-bottom: #ABABAB 1px solid;
          margin-bottom: 7px;

          &:hover {
            background-color: #fafafa;
            cursor: pointer;
          }
            ul {
              grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
              li {
                p {
                  font-size: 16px;
                }
              }
          }
        }

        .active {
          background-color: #111111;
          ul {
            li {
              p {
                color: white;
              }
            }
          }

          &:hover {
            background-color: #111111;
          }
        }
      }
    }
  }

  .right {
    width: 1083px;
    min-width: 1083px;
    .box-content {
      #order-items-container {
        height: 326px;
        max-height: 326px;
        background-color: #DADADA;
        overflow-y: auto;
        @include scrollbar;

        #order-items-list {
          .order-items-list-item {
            padding: 19px 0;
            background-color: white;
            margin-bottom: 7px;
            margin-top: 8px;

            &:hover {
              background-color: #fafafa;
            }

            a {
              &:hover {
                text-decoration: none;
              }

              ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                text-align: center;
                font-size: 15px;

                li {
                  p {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }

      #order-details {
        padding-left: 78px;
        padding-top: 10px;
        height: 287px;
        position: relative;

        #top-details, #bottom-details-left, #bottom-details-right {
          display: flex;
          li {
            margin-right: 20px;
            p {
              font-size: 17px;
              font-weight: 300;
              span {
                font-weight: bold;
              }
            }
          }
        }

        #bottom-details {
          margin-top: 30px;
          width: 68%;
          display: flex;

          #bottom-details-left, #bottom-details-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            li {
              margin-bottom: 11px;
              width: 100%;
              p {
                display: grid;
                grid-template-columns: 50% 50%;
                span {
                }
              }
            }
          }

          #bottom-details-left {
            margin-right: 20px;
          }
        }

        #order-buttons {
          display: flex;
          flex-direction: column;
          position: absolute;
          margin-right: 32px;
          margin-bottom: 23px;
          right: 0;
          bottom: 0;

          button {
            min-width: 180px;
            margin-top: 20px;
            background-color: black;
            color: white;
            border: none;
            padding: 1px 37px;
            font-family: 'Anton', sans-serif;
            font-size: 36px;
          }

          #delete {
            color: black;
            background-color: white;
          }
        }
      }
    }
  }
}
