<div id="shop-sidebar">
  <aside class="sidebar-section">
    <p>categories</p>
    <ul>
      <li *ngFor="let category of categories">
        <a (click)="setActiveCategory(category)" class="{{ activeCategory === category ? 'active' : '' }}">{{ category }}</a>
      </li>
    </ul>
  </aside>
  <aside class="sidebar-section">
    <p>collections</p>
    <div id="collections">
      <button>F/W 20</button>
    </div>
  </aside>
  <aside class="sidebar-section">
    <p>search</p>
    <app-search #search></app-search>
  </aside>
</div>
