<div id="shop-sidebar">
  <aside class="sidebar-section">
    <p>categories</p>
    <ul>
      <li>
        <a (click)="setActiveCategory('')" class="{{ activeCategory === '' ? 'active' : '' }}">all</a>
      </li>
      <li *ngFor="let category of categories">
        <a (click)="setActiveCategory(category)" class="{{ activeCategory === category ? 'active' : '' }}">{{ category }}</a>
      </li>
    </ul>
  </aside>
  <aside class="sidebar-section">
    <p>collections</p>
    <div id="collections">
      <button (click)="setActiveCollection('')" class="{{ activeCollection === '' ? 'active' : '' }}">
        all
      </button>
      <button *ngFor="let collection of collections" (click)="setActiveCollection(collection)" class="{{ activeCollection === collection ? 'active' : '' }}">
        {{ collection }}
      </button>
    </div>
  </aside>
  <aside class="sidebar-section">
    <p>search</p>
    <app-search #search></app-search>
  </aside>
</div>
