#shop-sidebar {
  .sidebar-section {
    margin-bottom: 25px;
    > p {
      font-size: 17px;
      color: #222222;
      font-weight: 600;
    }

    ul {
      list-style-type: none;
      li {
        padding: 5px 0;
        a {
          font-weight: 300;
          font-size: 16px;
        }
      }
    }

    #collections {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 34px;
      margin-top: 9px;

      button {
        margin-right: 5px;
        background: none;
        border: #757575 1.6px solid;
        border-radius: 3px;
        padding: 4px;
        font-size: 12px;
        color: #4c4c4c;
        white-space: nowrap;
        transition: ease 0.3s;

        &:hover {
          color: white;
          background-color: #343434;
        }
      }
    }
  }
}
