@import "/src/utilities/variables";
@import "/src/utilities/mixin";

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

#admin {
  padding-top: 90px;
  display: flex;
  height: 100vh;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  @include scrollbar;

  #admin-title {
    h1 {
      font-size: 50px;
      margin-bottom: 75px;
    }
  }

  #admin-content {
    width: 100%;
    padding: 0 93px 93px;
  }
}
