@import "/src/utilities/variables";
@import "/src/utilities/mixin";

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

#admin {
  padding-top: 110px;
  display: flex;
  height: 100vh;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  @include scrollbar;

  #admin-title {
    margin-bottom: 40px;
    text-align: center;

    h1 {
      font-size: 50px;
    }
  }

  #admin-content {
    width: 100%;
    padding: 0 93px 93px;

    .admin-panel {
      margin-bottom: 60px;
    }
  }
}
