<div id="admin">
  <header id="admin-title">
    <h1>admin panel</h1>
  </header>
  <div id="admin-content">

    <div class="admin-box">
      <div class="left left-orders">
        <header class="box-title"><h2>orders</h2></header>
        <div class="box-content">
          <ul id="left-top">
            <li><p>name</p></li>
            <li><p>country</p></li>
            <li><p>date</p></li>
            <li><p>status</p></li>
            <li><p>total</p></li>
          </ul>
          <ul class="left-items-container">
            <li></li>
          </ul>
        </div>
      </div>
      <div class="right right-orders">
        <header class="box-title"><h2>order info</h2></header>
        <div class="box-content">

        </div>
      </div>
    </div>

  </div>
</div>
