<nav>
  <div id="background"></div>
  <div id="nav-logo">
    <a [routerLink]="['/']"><img src="../../assets/images/logo.svg" alt="Sekkie"></a>
  </div>
  <div id="nav-links">
    <ul>
      <li id="shopping-cart"><a [routerLink]="['../shopping-list']"><img src="../../assets/images/shoppingcart.svg" alt="cart">cart ({{ shoppingCartSize }})</a></li>
      <li id="login" *ngIf="!user"><a (click)="onLoginClicked()">login/register</a></li>
      <li id="account" *ngIf="user"><a [routerLink]="['/account']">{{ user.email.substr(0, user.email.indexOf('@')) }}</a></li>
      <li id="logout" *ngIf="user"><a (click)="onLogoutClicked()">logout</a></li>
    </ul>
  </div>
</nav>
