@import "/src/utilities/variables";
@import "/src/utilities/mixin";

$selected-size: #636F7A;

* {
  margin: 0;
  padding: 0;
}

#details {
  padding-top: 87px;
  display: flex;
  height: 100vh;
  overflow: auto;

  #images {
    max-width: 888px;
    max-height: 100%;
    margin-left: 51px;
    display: grid;
    grid-template-columns: 20% 1fr;

    #showcase-image {
      display: flex;
      position: relative;
      animation: unfold 1s ease;

      img {
        object-fit: cover;
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.2s;
      }

      #fade-img {
        opacity: 0;
      }
    }

    #side-images {
      display: block;
      width: 100%;
      height: auto;
      overflow-y: auto;
      animation: fade-in 1s ease;

      &::-webkit-scrollbar {
        width: 3px;
        background-color: #ffffff;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #c4c4c4;
      }

      ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;

        li {
          img {
            width: 100%;
          }
        }
      }
    }
  }

  #content {
    padding: 70px 65px;
    z-index: 1;

    header {
      #title {
        max-width: 600px;
        text-align: center;
        font-size: 50px;
        line-height: 50px;
        font-weight: 600;
        color: #222222;
      }

      #price {
        font-size: 30px;
        text-align: center;
      }
    }

    #options {
      margin-top: 38px;
      margin-bottom: 100px;

      .red-text {
        color: #ff4949;
      }

      #color, #size {
        display: flex;
        margin-bottom: 28px;

        p {
          font-size: 30px;
          width: 120px;
        }

        #colors, #sizes {
          display: flex;

          button {
            height: 100%;
            display: flex;
            align-items: center;
            min-width: 30px;
            background: none;
            border: none;
            transition: border-color 0.2s ease;
            font-size: 30px;
            font-weight: 300;
            padding: 0 10px;

            &:hover {
              font-weight: 400;
            }

            &:focus {
              outline: none;
            }
          }

          .no-option-selected {
            color: #ff2727;
          }

          .selected-option-box {
            font-weight: 600 !important;
          }
        }

        #sizes {
          button {
            margin-right: 11px;
          }
        }

        #colors {
          flex-direction: column;
          button {
            margin-bottom: 5px;
          }
        }

        #selector {
          display: flex;

          span {
            text-align: center;
            font-size: 18px;
            min-width: 30px;
          }

          button {
            background-color: darkgray;
            min-width: 20px;
            border: none;
            border-radius: 5px;

            &:focus {
              outline: none;
            }
          }

          #number {

          }
        }
      }
    }

    #buy {
      margin-top: 35px;
      width: 100%;
      text-align: left;
      background-color: black;
      color: white;
      border: none;
      padding: 10px 10px 10px 15px;
      font-size: 22px;
      transition: all 0.2s ease-in-out;

      &:hover {
        padding-left: 30px;
      }
    }
  }

  @media only screen and (min-width: $tablet) {
    @include scrollbar;
  }

  @media only screen and (max-width: 1400px) {
    flex-direction: column;
    align-items: center;

    #images {
      width: 100%;
      height: 100%;
      margin-left: 0;
    }

    #content {
      padding: 30px 0 60px;

      #options {
        margin-bottom: 0;
        padding: 0 30px;
      }

      #buy {
        text-align: center;
      }
    }
  }
}

@keyframes unfold {
  0% {
    max-width: 100px;
  }
  100% {
    max-width: 100%;
  }
}

@keyframes fade-in {
  0% {
    max-height: 0;
  }
  100% {
  }
}
