<div id="details" *ngIf="item">
  <div id="images">
    <div id="side-images">
      <ul>
        <li (mouseover)="showPrimaryImage()">
          <img src="{{ item.primaryImagePath }}" alt="Primary image">
        </li>
        <li *ngFor="let secondaryImage of item.secondaryImagePaths" (mouseover)="showSecondaryImage(secondaryImage)">
          <img src="{{ secondaryImage }}" alt="Secondary image">
        </li>
      </ul>
    </div>
    <div id="showcase-image">
      <img [src]="[showcasedImg]" alt="{{item.name}} image">
    </div>
  </div>
  <div id="content">
    <header>
      <h1 id="title">{{ item.name }}</h1>
      <p id="price">${{ item.price }}</p>
    </header>

    <div id="options">
      <div id="size">
        <p class="{{ showNoSizeSelectedError && !selectedSize ? 'red-text' : '' }}">size</p>
        <div id="sizes">
          <button *ngFor="let size of item.sizes" (click)="onSizeClicked(size)"
                  class="{{ size === selectedSize ? 'selected-option-box' : '' }} {{ showNoSizeSelectedError && !selectedSize ? 'no-option-selected' : '' }}">
            {{ size }} </button>
        </div>
      </div>
      <div id="color">
        <p class="{{ showNoColorSelectedError && !selectedColor ? 'red-text' : '' }}">color</p>
        <div id="colors">
          <button *ngFor="let color of item.colors" (click)="onColorClicked(color)"
                  class="{{ color === selectedColor ? 'selected-option-box' : '' }} {{ showNoColorSelectedError && !selectedColor ? 'no-option-selected' : '' }}">
            {{ color }} </button>
        </div>
      </div>
<!--      <div id="amount">-->
<!--        <p class="{{ showNoAmountSelectedError && !selectedAmount ? 'redText' : '' }}">Amount</p>-->
<!--        <div id="selector">-->
<!--          <button (click)="onMinusAmountClicked()">-</button>-->
<!--          <span>{{ selectedAmount }}</span>-->
<!--          <button (click)="onPlusAmountClicked()">+</button>-->
<!--        </div>-->
<!--      </div>-->
      <button id="buy" (click)="onBuy()">add to cart</button>
    </div>
  </div>
</div>
