$selected-size: #636F7A;

* {
  margin: 0;
  padding: 0;
}

#details {
  padding-top: 87px;
  display: flex;

  #images {
    width: 845px;
    height: 807px;
    display: flex;
    flex-direction: row;
    margin-left: 51px;

    #showcase-image {
      display: flex;
      justify-content: center;
      position: relative;

      img {
        max-width: 719px;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.2s;
      }

      #fade-img {
        opacity: 0;
      }
    }
    #side-images {
      width: 126px;
      height: auto;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 3px;
        background-color: #ffffff;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #c4c4c4;
      }

      ul {
        padding: 0;
        list-style: none;

        li {

          img {
            width: 100%;
          }
        }
      }
    }
  }

  #content {
    padding: 70px 65px;

    header {
      #title {
        max-width: 600px;
        text-align: center;
        font-size: 50px;
        font-weight: 600;
        color: #222222;
      }

      #price {
        margin-top: -6px;
        font-size: 30px;
        text-align: center;
      }
    }

    #options {
      margin-top: 38px;
      margin-bottom: 100px;

      .red-text {
        color: #ff4949;
      }

      #color, #size {
        display: flex;
        margin-bottom: 28px;

        p {
          font-size: 30px;
          width: 126px;
        }

        #colors, #sizes {
          display: flex;

          button {
            height: 100%;
            display: flex;
            align-items: center;
            min-width: 30px;
            background: none;
            border: none;
            transition: border-color 0.2s ease;
            font-size: 30px;
            font-weight: 300;

            &:hover {
              font-weight: 400;
            }

            &:focus {
              outline: none;
            }
          }

          .no-option-selected {
            color: #ff2727;
          }

          .selected-option-box {
            font-weight: 600;
          }
        }

        #sizes {
          button {
            margin-right: 21px;
          }
        }

        #colors {
          flex-direction: column;
          button {
            margin-bottom: 5px;
          }
        }

        #selector {
          display: flex;

          span {
            text-align: center;
            font-size: 18px;
            min-width: 30px;
          }

          button {
            background-color: darkgray;
            min-width: 20px;
            border: none;
            border-radius: 5px;

            &:focus {
              outline: none;
            }
          }

          #number {

          }
        }
      }
    }

    #buy {
      margin-top: 35px;
      width: 100%;
      text-align: left;
      background-color: black;
      color: white;
      border: none;
      padding: 10px 10px 10px 15px;
      font-size: 22px;
    }
  }
}
