@import "/src/utilities/mixin";
@import "/src/utilities/variables";

* {
  margin: 0;
  padding: 0;
}

#orders-container {
  @include account-page-box;
  .box-content {
    background-color: #F3F3F3;
    min-height: 400px;

    #orders {
      #orders-top {
        margin-top: 8px;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        margin-bottom: 3px;

        li {
          p {
            font-weight: bold;
            font-size: 17px;
          }
        }
      }
      #orders-list {
        list-style: none;
        max-height: 400px;
        overflow-y: auto;
        padding-bottom: 10px;
        @include scrollbar;

        .order {
          padding: 8px 0;
          background-color: white;
          margin-bottom: 6px;

          ul {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            text-align: center;
            font-size: 15px;

            .highlight {
              font-size: 17px;
            }
          }
        }
      }

      #no-orders {
        margin-top: 20%;
        text-align: center;
        font-size: 18px;
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    width: 98vw;
  }
}
