#details {
  width: 100%;

  #images {
    width: 50%;
    display: grid;
    grid-template-columns: 20% 80%;

    #primary {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
    #secondary {
      height: auto;
      overflow-y: auto;

      ul {
        list-style: none;
        li {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
