<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <img-->
<!--      [src]="item.primaryImagePath"-->
<!--      alt="{{ item.name }}"-->
<!--      class="img-responsive"-->
<!--      style="max-height: 300px;">-->
<!--  </div>-->
<!--</div>-->


<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <h1>{{ item.name }}</h1>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <div-->
<!--      class="btn-group"-->
<!--      appDropdown>-->
<!--      <button-->
<!--        type="button"-->
<!--        class="btn btn-primary dropdown-toggle">-->
<!--        Manage Item <span class="caret"></span>-->
<!--      </button>-->
<!--      <ul class="dropdown-menu">-->
<!--        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>-->
<!--        <li><a style="cursor: pointer;" (click)="onEditItem()">Edit Item</a></li>-->
<!--        <li><a style="cursor: pointer;">Delete Item</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    {{ item.description }}-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <ul class="list-group">-->
<!--      <li-->
<!--        class="list-group-item"-->
<!--        *ngFor="let image of item.secondaryImagePaths">-->
<!--        {{ image.name }} - {{ image.amount }}-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<div id="details">
  <div id="images">
    <div id="secondary">
      <ul>
        <li (mouseover)="showPrimaryImage()">
          <img src="{{ item.primaryImagePath }}" alt="Primary image">
        </li>
        <li *ngFor="let secondaryImage of item.secondaryImagePaths" (mouseover)="showSecondaryImage(secondaryImage)">
          <img src="{{ secondaryImage }}" alt="Secondary image">
        </li>
      </ul>
    </div>
    <div id="primary">
      <img [src]="[showcasedImg]" alt="{{item.name}} image">
    </div>
  </div>
  <div id="content">
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>

    <div id="specific">
      <div id="size">
        <p>Size</p>
        <div id="sizes">
          <button *ngFor="let size of item.sizes" (click)="onSizeClicked(size)" class="{{ size === selectedSize ? 'selectedSize' : '' }}">
            {{ size }} </button>
        </div>
      </div>
      <div id="color">
        <p>Color</p>
        <div id="colors">
          <button *ngFor="let color of item.colors" (click)="onColorClicked(color)" class="{{ color === selectedColor ? 'selectedColor' : '' }}">
            {{ color }} </button>
        </div>
      </div>
      <div id="amount">
        <p>Amount</p>
        <div id="selector">
          <button (click)="onMinusAmountClicked()">-</button>
          <span>{{ selectedAmount }}</span>
          <button (click)="onPlusAmountClicked()">+</button>
        </div>
      </div>

    </div>

    <button (click)="onAddToShoppingList()">Shopping list</button>
  </div>
</div>
