@import "/src/utilities/mixin";
@import "/src/utilities/variables";

* {
  margin: 0;
  padding: 0;
}

#shopping-cart-wrapper {
  height: 100vh;
  padding: 80px 131px 150px 131px;
  overflow: auto;
  @include scrollbar;

  header {
    margin-bottom: 20px;

    h1 {
      font-size: 56px;
      font-weight: 600;
    }

    h4 {
      font-size: 24px;
      font-weight: 300;
      margin-top: -27px;
    }
  }

  #shopping-cart-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 47px;
  }

  #emptyCart {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    color: #c3c3c3;

    &:focus {
      outline: none;
    }
  }

  #bottom-bar {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: 93px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;

    .bottom-bar-column {
      width: 30%;
      text-align: center;
      margin-bottom: 14px;

      button {
        font-size: 25px;
        padding: 7px 44px;
        border: black 1px solid;
        white-space: nowrap;
        font-family: 'Anton', sans-serif;
      }

      #back {
        color: black;
        background-color: white;
      }

      #checkout {
        background-color: black;
        color: white;
      }

      #bottom-bar-middle {
        #total-shipping {
          font-weight: bold;
          font-size: 22px;
          color: black;
        }

        #total-disclaimer {
          color: #616161;
          font-size: 11px;
          text-transform: none;
        }
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    padding: 80px 30px 150px;

    #shopping-cart-items {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media only screen and (max-width: $tablet) {
    #shopping-cart-items {
      column-gap: 10px;
      row-gap: 20px;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (max-width: $mobile-large) {
    #bottom-bar {
      height: 65px;

      .bottom-bar-column {
        width: 40%;
        button {
          font-size: 17px;
          padding: 7px 23px;
        }

        #bottom-bar-middle {
          #total-shipping {
            font-size: 13px;
          }

          #total-disclaimer {
            font-size: 9px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    padding: 10px;
  }
}
