<div id="shopping-cart-wrapper">
  <header>
    <h1>shopping cart</h1>
    <h4>{{shoppingCartItems.length}} item{{shoppingCartItems.length === 1 ? '' : 's'}}</h4>
  </header>
  <div id="shopping-cart-items">
    <app-shopping-cart-item *ngFor="let item of shoppingCartItems" [item]="item"></app-shopping-cart-item>
  </div>
  <div id="bottom-bar">
    <div class="bottom-bar-column">
      <button id="back">go back</button>
    </div>
    <div class="bottom-bar-column">
      <div id="bottom-bar-middle">
        <p id="total-shipping">total {{ calculateTotalPrice() }} USD</p>
        <p id="total-disclaimer">* excluding shipping</p>
      </div>
    </div>
    <div class="bottom-bar-column">
      <button id="checkout">checkout</button>
    </div>
  </div>
</div>

<!--<app-shopping-cart-item [item]="item" *ngFor="let item of shoppingCartItems"></app-shopping-cart-item>-->
